@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: #1a1a1a;
  font-family: "Inter", Helvetica, sans-serif;
}

button {
  height: 40px;
}
.button-primary {
  background-color: rebeccapurple;
  width: 200px;
  border-radius: 12px;
}
.button-secondary {
  width: 200px;
  border-radius: 12px;

  border: rebeccapurple solid 2px;
}
